#tieude {
    border-color: orange;
    border-style: none none groove none;
    font-family: "Times New Roman";
    font-size: 45px;
    text-align: justify;
    text-align: left;
    padding-bottom: 5px;

}

#tieude1 {
    font-size: 30px;
    font-family: "Times New Roman";
}

#vanban1 {
    text-indent: 100px;
    font-size: 30px;
    color: black;
    text-align: justify;

}


.highlight {
    font-weight: bold;
}

.suadoi1 {
    font-weight: bold;
}

.suadoi2 {
    color: blue;
}

.suadoi3 {
    color: darkblue;
}

#\=vanban2 {
    text-indent: 100px;
    font-size: 30px;
    color: black;
    text-align: justify;
}

.suadoi4 {
    color: blue;
}

.suadoi5 {
    color: blue;
}

.suadoi6 {
    color: blue;
}

.suadoi7 {
    color: blue;
}

.suadoi8 {
    color: blue;
}

.suadoi9 {
    color: blue;
}

.suadoi10 {
    color: blue;
}

.suado11 {
    color: blue;
}

.suadoi12 {
    color: blue;
}

.suadoi13 {
    color: blue;
}

.suadoi14 {
    color: blue;
}

.suadoi15 {
    color: blue;
}

#vanban3 {
    text-indent: 100px;
    font-size: 30px;
    color: black;
    text-align: justify;
}

.suadoi16 {
    color: blue;
}

.suadoi17 {
    color: blue;
}

.suadoi18 {
    color: blue;
}

.suadoi19 {
    color: blue;
}

.suadoi20 {
    color: blue;
}

.suadoi21 {
    color: blue;
}

.suadoi30 {
    position: relative;
    display: inline;
}

.suadoi31 {
    position: relative;
    top: -0.5em;
    right: 0;
    font-size: 0.5em;
}

.suadoi32 {
    position: relative;
    top: -0.5em;
    right: 0;
    font-size: 0.5em;
}

.suadoi33 {
    position: relative;
    top: -0.5em;
    right: 0;
    font-size: 0.5em;
}

.suadoi34 {
    position: relative;
    top: -0.5em;
    right: 0;
    font-size: 0.5em;
}









